---
AlignAfterOpenBracket: BAS_Align
AlignOperands: OAS_Align
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: SBS_Always
BasedOnStyle: Microsoft
ColumnLimit: 80
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth : 2
ContinuationIndentWidth: 2
IndentWidth: 2
PointerAlignment: Left
TabWidth: 2
...
